@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap");

body {
  margin: 0;
}

.roboto-serif-class {
  color: gray;
  font-family: "Roboto Serif", serif;
  font-weight: 500;
}

.divider {
  width: 100;
  display: flex;
  justify-content: center;
}

.divider div {
  width: 80%;
  border: 1px solid lightgray;
}

.card-button {
  background: #ff6b6b;
  color: white;
  padding: 10px 18px;
  font-size: 0.9rem;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
}

.card-button:hover {
  background: #e63946;
  transform: scale(1.05);
}

.floatingButtonContainer {
  position: fixed;
  right: 50px;
  bottom: 50px;
}

.floatingButton {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  border: none;
  cursor: pointer;

  background-color: white;
}

.spinnerContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinnerContainer .spin {
  animation: spin 1s linear infinite;
}
